# binary directories
bin/
lib/
obj/

# object files
*.o
*.ko
*.obj
*.elf

# precompiled headers
*.gch
*.pch

# libraries
*.lib
*.a
*.la
*.lo

# shared objects
*.dll
*.so
*.so.*
*.dylib

# executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# debug files
*.dSYM/

# Vim temporary files
*.swp
*~
